.container
{
    margin-left: 130px;
    margin-right: 40px;
}

.Col2
{
  padding-bottom: 20px;
  padding-left: 190px;
}

body
{
    font-family: 'Bree Serif', serif !important;
}

h1
{
   padding-left: 30px;  
}

.PostContainer
{
 margin-top: 30px;
}

.NotfoundContainer
{
    margin-left: 35% !important;
    margin-top: 15%;
}

.userid{
    margin-top: 10px;
    margin-left: 30px;
}

.title{
    margin-top: 10px;
    margin-left: 46px; 
}

.body{
    margin-top: 10px;
    margin-left: 42px;
    margin-right: 10px; 
    margin-bottom: 30px;  
}

.username{
    margin-left: 5px;
}
label{
    font-weight: 600;
}

.getusertable{
    margin-top: 150px;
    margin-left: 430px;
}